
.bk{
    

    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
background-blend-mode: darken;
width: 1300px;
height: 1000px;
}
.submit{
    background-color: orange;
    color: white;
    width: 100px;
    border-radius: 5px;
    border: aqua;
    padding: 5px;
}
.main{
    
    height: 500px;
    width: 500px;
border-radius: 20px;
    margin-left: 25rem;
    margin-right: 25rem;
box-shadow: 5px 4px 5px 5px black;
margin-top: 4rem;
margin-bottom: 100px;

}
.inputfield{
    background-color: black;
}
.head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.form{
    margin-left: 4rem;
}