.container{
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
}
.productImage{
    height: 100px;
    width: 100px;
    padding-left: 50px;
    object-fit: cover;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
    background-color:rgb(245, 245, 245); ;
margin-bottom: 0%
}
.name{
    margin-top: 0px;
}
.span{
    color: aqua;
}
ul{
    list-style: none;
    display: flex;
}
.cart{
    margin-left: 70px;
}